@media (min-width: 992px){
    .nav-link {
        padding-right: 1.5rem !important;
        padding-left: 1rem !important;
    }
    .single-result-two{
        background: rgb(222 221 221 / 20%);
        border-radius: 15px;
    }
}
@media (max-width: 400px){
    .main-count h1 {
        font-size: 39px;
    }
}